.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  background-color: var(--brand-color-one);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color-primary);
  font-family: var(--font-family-header);
}

.link {
  text-decoration: none;
  color: var(--text-color-primary);
}

.link:hover {
  color: var(--brand-color-seven);
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .header-container {
    font-size: 16px;
    padding: 8px;
    height: 100px;
  }

  .link {
    font-size: 14px;
  }

  .link:hover {
    color: var(--brand-color-seven);
    transition: all 0.3s ease;
  }
}
