/* Universal Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --- Base Variables (Light Theme) --- */
:root {
  /* Brand Colors (Warm Palette) */
  --brand-color-one: #ffba08;
  --brand-color-two: #faa307;
  --brand-color-three: #f48c06;
  --brand-color-four: #e85d04;
  --brand-color-five: #dc2f02;
  --brand-color-six: #9d0208;
  --brand-color-seven: #6a040f;

  /* Neutral Colors */
  --neutral-color-light: #f5f5f5;
  --neutral-color-dark: #333;
  --neutral-color-text-alt: #f5f5f5;
  --neutral-color-eight: #eeeeee;

  /* Gradients & Transparencies */
  --gradient-primary: linear-gradient(
    135deg,
    var(--brand-color-one) 0%,
    var(--brand-color-three) 25%,
    var(--brand-color-five) 50%,
    var(--brand-color-six) 75%,
    var(--brand-color-seven) 100%
  );
  --transparent-brand-one: rgba(255, 186, 8, 0.5); /* Semi-transparent Yellow */

  /* Font Families */
  --font-family-content: "Zen Kaku Gothic New", sans-serif;
  --font-family-header: "Zen Maru Gothic", sans-serif;

  /* Global Text Colors */
  --text-color-primary: var(--neutral-color-dark);
  --text-color-secondary: var(--neutral-color-text-alt);

  /* Background Colors */
  --background-color-main: var(--neutral-color-light);
}

/* --- Dark Theme Overrides --- */
html[data-theme="dark"] {
  /* Backgrounds & Text */
  --background-color-main: #2d3748;
  --text-color-primary: #f6f8f9;
  --text-color-secondary: #f5f5f5;
  --neutral-color-light: #e0e0e0;
  --neutral-color-dark: #e0e0e0;

  --brand-color-one: #db7c00;
  --brand-color-two: #b34b00;
  --brand-color-three: #e54202;
  --brand-color-four: #ffba08;
  --brand-color-five: #e00b00;
  --brand-color-six: #8b0005;
  --brand-color-seven: #59000a;

  --neutral-color-eight: #555555;

  /* Gradient (adjusted for darker tones) */
  --gradient-primary: linear-gradient(
    135deg,
    var(--brand-color-one) 0%,
    var(--brand-color-three) 25%,
    var(--brand-color-five) 50%,
    var(--brand-color-six) 75%,
    var(--brand-color-seven) 100%
  );

  /* Transparent/Semi-transparent color for overlays, hovers etc. */
  --transparent-brand-one: rgba(
    224,
    112,
    0,
    0.4
  ); /* Darker, less intense transparent orange */
}

/* --- Root Container Styles --- */
#root {
  background-color: var(--background-color-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: var(--text-color-primary);
  font-family: var(--font-family-content);
}

/* --- Accessibility & Focus States --- */
button:focus,
a:focus,
input:focus {
  outline: 2px solid var(--brand-color-five);
  border-radius: 4px;
  outline-offset: 2px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
